* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  color: #c6a0f6;
}

window#waybar {
  background: rgba(17, 17, 27, 0.45);
}

#network,
#pulseaudio,
#backlight,
#battery,
#clock,
#memory,
#temperature {
  padding: 1px 10px;
  margin: 1px 3px;
}

#clock {
  font-weight: bold;
  font-size: 18px;
  padding: 1px 10px;
  color: #b4befe;
}

#mpris {
  color: #f5c2e7;
}

#custom-notification {
  color: #f9e2af;
}

#network {
  color: #89dceb;
}

#temperature {
  color: #89b4fa;
}

#memory {
  color: #cba6f7;
}

#pulseaudio {
  color: #94e2d5;
}

#backlight {
  color: #fab387;
}

#battery {
  color: #a6e3a1;
}

#workspaces button {
  padding: 0 8px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #6c7086;
  opacity: 0.6;
}
#workspaces label {
  font-weight: bold;
  font-size: 15px;
}

#workspaces button.active {
  color: #ffffff;
  opacity: 1;
}

#custom-notification {
  padding: 0 10px;
}

#mpris {
  padding: 0 10px;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
}

#workspaces button.active:hover {
  box-shadow: none;
}
